<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="Logs\nlog-internal.log">

  <targets async="true">
    <!--写入文件-->
    <target xsi:type="File" name="TraceFile" fileName="Logs\Trace\${shortdate}.log"
     layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" />

    <target xsi:type="File" name="DebugFile" fileName="Logs\Debug\${shortdate}.log"
     layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" />

    <target xsi:type="File" name="InfoFile" fileName="Logs\Info\${shortdate}.log"
      layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" />

    <target xsi:type="File" name="WarnFile" fileName="Logs\Warn\${shortdate}.log"
     layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" />

    <target xsi:type="File" name="ErrorFile" fileName="Logs\Error\${shortdate}.log"
      layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" />

    <target xsi:type="File" name="FatalFile" fileName="Logs\Fatal\${shortdate}.log"
     layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" />

    <target xsi:type="ColoredConsole" name="coloredConsole"
    layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" />

    <!--数据库目标 - 使用本机SQLite-->
    <target name="database"
            xsi:type="Database"
            dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
            connectionString="Data Source=${basedir}/data/XXX试验台.db;Pooling=true;Max Pool Size=10;">
      <commandText>
        INSERT INTO LoggerInfo(MessTime, Level, Message, UserName, MessageName, Source)
        VALUES(@MessTime, @Level, @Message, @UserName, @MessageName, @Source)
      </commandText>
      <parameter name="@MessTime" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@UserName" layout="${event-properties:UserName}" />
      <parameter name="@MessageName" layout="${event-properties:MessageName}" />
      <parameter name="@Source" layout="${event-properties:Source}" />
    </target>
  </targets>

  <rules>
    <!--跳过Microsoft组件日志-->
    <logger name="Microsoft.*" final="true" />

    <!--写文件-->
    <logger name="*" level="Trace" writeTo="TraceFile" />
    <logger name="*" level="Debug" writeTo="DebugFile" />
    <logger name="*" level="Info" writeTo="InfoFile" />
    <logger name="*" level="Warn" writeTo="WarnFile" />
    <logger name="*" level="Error" writeTo="ErrorFile" />
    <logger name="*" level="Fatal" writeTo="FatalFile" />

    <!--写数据库：Warn及以上等级-->
    <logger name="*" minlevel="Warn" writeTo="database"/>

    <!--控制台输出-->
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
  </rules>
</nlog>
